{% extends 'app.html.twig' %}

{% block content %}
    <h2>Create Article</h2>
    {{ form_open('post', {'route': ['articles.store']}) }}
        {% include 'articles/form.html.twig' %}
    {{ form_close }}
{% endblock %}