{% extends 'install/layout.html.twig' %}

{% block content %}
    <div class="msg">
    	<h2>Success!</h2>
        <p>
        	Yeah =D ! Doune has installed successfuly, now you can click on (Go to the home page) to visit your site, have nice time, and thank you again for using Doune.
        </p>
        <a href="{{ urlFor('home') }}">Go to the home page</a>
    </div>
{% endblock %}